.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #14059b;
  border: 1px solid #14059b;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #1616df;
  border-color: #1616df;
}
